<div class="bee-page-container" *ngIf="bookDetails">
    <div class="bee-row bee-row-9">
        <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
                <div class="container" fxFlex="80%">
                    <div fxFlex="20%">
                        <img mat-card-image [src]="imageToShow ? imageToShow : 'https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Flag_of_None_%28square%29.svg/768px-Flag_of_None_%28square%29.svg.png'"
                        style="margin-top:0px;height:320px; width:200px;">
                        <ngb-rating [max]="5" [(rate)]="currentRating" [readonly]="true"></ngb-rating> <p style="font-style:italic;margin-left:20%" *ngIf="numberOfReviews">{{numberOfReviews}} reviews</p>
                    </div>
                    <div class="bee-block bee-block-3 bee-text" fxFlex="80%">
                        <div class="bee-text-content"
                            style="font-size: 14px; line-height: 150%; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #62716a;">
                            <p style="font-size: 34px; line-height: 51px; text-align: center; letter-spacing: 3px;">
                                <span style="font-size: 25px; line-height: 63px;">
                                    <strong>
                                        {{bookDetails.title}}
                                    </strong>
                                </span>
                            </p>
                            <p style="font-size: 20px; line-height: 51px; text-align: center; letter-spacing: 3px;">
                              {{'reader.book-details.by' | translate }} {{bookDetails.author}}
                            </p>
                            <p style="font-size: 20px; line-height: 51px; text-align: center; letter-spacing: 3px;">
                              {{'reader.book-details.available' | translate }}:
                          </p>
                           <div class="row" style="justify-content:space-evenly;" *ngIf="userDetails">
                              <mat-card class="card-web" fxLayout="row"  fxLayoutAlign="start center" *ngIf="showHideFreeCard" (click)="sendFreeBook(userDetails.id, bookDetails.id);">
                                 <mat-icon class="mat-icon-xlg m-0">computer</mat-icon>
                                 <div class="card-content">
                                    <p>{{'reader.book-details.web' | translate }}</p>
                                    <span class="text-price">{{'reader.book-details.price' | translate }}: {{'reader.book-details.free' | translate }}</span>
                                 </div>
                              </mat-card>
                              <mat-card class="card-web" fxLayout="row"  fxLayoutAlign="start center" *ngIf="showHideWebCard" (click)="onWebClick(bookDetails, webBookPrice);">
                                 <mat-icon class="mat-icon-xlg m-0">computer</mat-icon>
                                 <div class="card-content">
                                    <p>{{'reader.book-details.web' | translate }}</p>
                                    <span class="text-price" *ngIf="webBookPrice">{{'reader.book-details.price' | translate }}: {{webBookPrice}} $</span>
                                 </div>
                              </mat-card>
                              <mat-card class="card-web" fxLayout="row"  fxLayoutAlign="start center" *ngIf="showHideAudioCard" (click)="onAudioClick(bookDetails, audioBookPrice);">
                                 <mat-icon class="mat-icon-xlg m-0">audiotrack</mat-icon>
                                 <div class="card-content">
                                    <p>{{'reader.book-details.audio' | translate }}</p>
                                    <span class="text-price" *ngIf="audioBookPrice">{{'reader.book-details.price' | translate }}: {{audioBookPrice}} $</span>
                                 </div>
                              </mat-card>
                              <mat-card class="card-web" fxLayout="row"  fxLayoutAlign="start center" *ngIf="showHidePaperCard" (click)="onPaperbackClick(bookDetails, paperBookPrice);">
                                 <mat-icon class="mat-icon-xlg m-0">book</mat-icon>
                                 <div class="card-content">
                                    <p>{{'reader.book-details.paper' | translate }}</p>
                                    <span class="text-price" *ngIf="paperBookPrice">{{'reader.book-details.price' | translate }}: {{paperBookPrice}} $</span>
                                 </div>
                              </mat-card>
                           </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="20%">
                    <div fxFlex="100">
                        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-0">
                           <div fxFlex="100" >
                              <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                 <mat-icon class="mat-icon-xlg  m-0">card_giftcard</mat-icon>
                                 <div class="content ml-10">
                                    <p>{{'reader.book-details.bonus' | translate }}</p>
                                    <span class="text-muted m-0">{{'reader.book-details.bonus-context' | translate }}</span>
                                 </div>
                              </mat-card>
                           </div>
                           <div fxFlex="100" >
                              <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                 <mat-icon class="mat-icon-xlg  m-0">local_shipping</mat-icon>
                                 <div class="content ml-10">
                                    <p>{{'reader.book-details.shipping' | translate }}</p>
                                    <span class="text-muted m-0">{{'reader.book-details.shipping-context' | translate }}</span>
                                 </div>
                              </mat-card>
                           </div>
                           <div fxFlex="100"  class="mt-16">
                              <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                 <mat-icon class="mat-icon-xlg m-0">monetization_on</mat-icon>
                                 <div class="content ml-10">
                                    <p>{{'reader.book-details.money' | translate }}</p>
                                    <span class="text-muted m-0">{{'reader.book-details.money-context' | translate }}</span>
                                 </div>
                              </mat-card>
                           </div>
                           <div fxFlex="100"  class="mt-16">
                              <mat-card class="light-block no-border" fxLayout="row"  fxLayoutAlign="start center">
                                 <mat-icon class="mat-icon-xlg m-0">history</mat-icon>
                                 <div class="content ml-10">
                                    <p>{{'reader.book-details.support' | translate }}</p>
                                    <span class="text-muted m-0">{{'reader.book-details.support-context' | translate }}</span>
                                 </div>
                              </mat-card>
                           </div>
                        </div>
                     </div>
                </div>
            </div>
            <br><br><br>
            <div class="review-wrapper">
                <mat-card>
                   <mat-tab-group [@.disabled]="true" [selectedIndex]="0">
                   <mat-tab label="{{'reader.book-details.description' | translate }}">
                      <div class="full-desc lh">
                         <p class="text-muted">{{bookDetails.shortDescription}}</p>
                      </div>
                   </mat-tab>
                   <mat-tab label="{{'reader.book-details.details' | translate }}">
                      <div class="full-desc lh text-muted">
                         <p>{{bookDetails.title}}</p>
                         <ul class="px-2 mt-1">
                            <li><strong>{{'common-book.genre' | translate }}: </strong>{{bookDetails.genre.name}}</li>
                            <li><strong>{{'common-book.publisher' | translate }}: </strong>{{bookDetails.publisher}}</li>
                            <li><strong>{{'common-book.language' | translate }}: </strong>{{bookDetails.language}}</li>
                            <li><strong>{{'common-book.published-date' | translate }}: </strong>{{bookDetails.publishedDate | date: 'longDate'}}</li>
                            <li><strong>ISBN: </strong>{{bookDetails.isbn}}</li>
                            <li><strong>{{'common-book.age' | translate }}: </strong>{{bookDetails.readingAge}} {{'reader.book-details.year' | translate }}</li>
                         </ul>
                      </div>
                   </mat-tab>
                   <mat-tab label="{{'reader.book-details.reviews' | translate }}" *ngIf="reviews">
                      <div class="full-desc lh">
                         <mat-list class="reviews" *ngFor="let review of reviews">
                            <mat-list-item class="content">
                               <img matListAvatar [src]="'https://www.pngkit.com/png/full/123-1232077_clipart-of-books-free-candelalive-co-uk-books.png'" alt="image" class="review-author">
                               <p matLine fxLayoutAlign="start center">
                                  <span class="name">{{review.user.name}}</span>
                               </p>
                               <p matLine class="text-muted"><small>{{review.date | date: 'medium'}}</small></p>
                               <p matLine class="text">{{review.comment}}</p>
                            </mat-list-item>
                         </mat-list>
                         <div class="writte-reviews mt-40">
                            <h3 class="mt-2">{{'reader.book-details.review-title' | translate }}</h3>
                            <div class="divider"></div>
                            <p class="mt-2 text-muted">{{'reader.book-details.review-title-2' | translate }}</p>
                            <form fxLayout="row wrap" autocomplete="off" [formGroup]="rateService.formModel" (ngSubmit)="onSubmit()">
                               <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="mt-20 pr-5" ngClass.sm="mt-10" ngClass.xs="mt-10" style="display:none;">
                                  <mat-form-field class="w-100" *ngIf="uuidValue">
                                     <input matInput [(ngModel)]="uuidValue" formControlName="Id" name="Id" required>
                                  </mat-form-field>
                               </div>
                               <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="pl-5 mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10" style="display:none;">
                                  <mat-form-field class="w-100" *ngIf="currentDate">
                                     <input matInput [(ngModel)]="currentDate" formControlName="Date" name="date" required>
                                  </mat-form-field>
                               </div>
                               <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="pl-5 mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10" style="display:none;">
                                 <mat-form-field class="w-100" *ngIf="userDetails">
                                    <input matInput [(ngModel)]="userDetails.id" formControlName="User" name="date" required>
                                 </mat-form-field>
                              </div>
                              <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="pl-5 mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10" style="display:none;">
                                 <mat-form-field class="w-100">
                                    <input matInput [(ngModel)]="bookDetails.id" formControlName="Book" name="date" required>
                                 </mat-form-field>
                              </div>
                               <div fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                                 <mat-form-field class="w-100">
                                    <input matInput placeholder="Rating" type="number" formControlName="Mark" name="Mark" min="1" max="5" style="width:20%;" required>
                                 </mat-form-field>
                              </div>
                               <div fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                                  <mat-form-field class="w-100">
                                     <input matInput placeholder="Comment" formControlName="Comment" name="Comment" required>
                                  </mat-form-field>
                               </div><br><br><br><br>
                               <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                  <button class="btn-project" mat-raised-button style="background-color: #62716a; width: 10%; color:white;" type="submit" (click)="generateUUID();">{{'reader.book-details.submit-review' | translate }}</button>
                               </div>
                            </form>
                         </div>
                      </div>
                   </mat-tab>
                   </mat-tab-group>
                </mat-card>
             </div>
        </div>
    </div>
</div>
