<div class="bee-page-container">
    <div class="bee-row bee-row-9">
        <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
                <div class="bee-block bee-block-3 bee-text">
                    <div class="bee-text-content"
                        style="font-size: 14px; line-height: 150%; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #62716a;">
                        <p style="font-size: 34px; line-height: 51px; text-align: center; letter-spacing: 3px;">
                            <span style="font-size: 30px; line-height: 63px;">
                                <strong>
                                    {{'reader.delivery.title' | translate }}
                                </strong>
                            </span>
                        </p>
                    </div>
                </div>
                <mat-card class="bee-block bee-block-6 bee-form" id="bee-matcard">
                    <form autocomplete="off">
                      <mat-card-content>
                        <div class="bee-form-row"  fxLayout="row" fxLayoutAlign="space-between">
                            <div class="bee-field bee-field-id_vu4udm">
                                <label for="id_vu4udm">
                                    {{'common-fields.first' | translate }}
                                </label>
                                <mat-form-field>
                                    <input matInput name="Name" required>
                                </mat-form-field>
                            </div>
                            <div class="bee-field bee-field-id_vu4udm">
                                <label for="id_vu4udm">
                                    {{'common-fields.middle' | translate }}
                                </label>
                                <mat-form-field>
                                    <input matInput name="MiddleName" required>
                                </mat-form-field>
                            </div>
                            <div class="bee-field bee-field-id_vu4udm">
                                <label for="id_vu4udm">
                                    {{'common-fields.surname' | translate }}
                                </label>
                                <mat-form-field>
                                    <input matInput name="Surname" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="bee-form-row" fxLayout="row" fxLayoutAlign="space-between">
                            <div class="bee-field bee-field-id_vu4udm">
                                <label for="id_vu4udm">
                                    {{'common-fields.country' | translate }}
                                </label>
                                <mat-form-field>
                                    <input matInput name="Username" required>
                                </mat-form-field>
                            </div>
                            <div class="bee-field bee-field-id_vu4udm">
                                <label for="id_vu4udm">
                                    {{'common-fields.region' | translate }}
                                </label>
                                <mat-form-field>
                                    <input matInput name="Email" required>
                                </mat-form-field>
                            </div>
                            <div class="bee-field bee-field-id_vu4udm">
                                <label for="id_vu4udm">
                                    {{'common-fields.city' | translate }}
                                </label>
                                <mat-form-field>
                                    <input matInput name="PhoneNumber" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="bee-form-row" fxLayout="row" fxLayoutAlign="center center">
                            <div class="bee-field bee-field-id_vu4udm">
                                <label for="id_vu4udm">
                                    {{'common-fields.address' | translate }}
                                </label>
                                <mat-form-field>
                                    <input matInput name="Address" required>
                                </mat-form-field>
                            </div>
                            <div class="bee-field bee-field-id_vu4udm">
                                <label for="id_vu4udm">
                                    {{'common-fields.postcode' | translate }}
                                </label>
                                <mat-form-field>
                                    <input matInput name="Address" required>
                                </mat-form-field>
                            </div>
                            <div class="bee-field bee-field-id_vu4udm">
                                <label for="id_vu4udm">
                                    {{'common-fields.phone' | translate }}
                                </label>
                                <mat-form-field>
                                    <input matInput name="Address" required>
                                </mat-form-field>
                            </div>
                        </div>
                      </mat-card-content>
                      <div class="bee-form-row">
                      </div>
                      <div class="bee-form-row">
                      </div>
                      <div class="bee-form-row">
                      </div>
                      <div class="bee-form-row">
                        <div class="bee-field bee-field-id_j76u77">
                            <div class="bee-button-container">
                                <button mat-stroked-button color="primary" class="btn-block" style="cursor: pointer;" (click)="onClick();">{{'reader.delivery.submit' | translate }}</button>
                            </div>
                        </div>
                    </div>
                    </form>
                  </mat-card>
                <div class="bee-block bee-block-7 bee-divider">
                    <div class="spacer" style="height:10px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  