<button mat-button [matMenuTriggerFor]="filter">{{'reader.dashboard.filter' | translate }}</button>

<mat-menu #filter="matMenu">
  <button mat-menu-item (click)="resetFilter()">{{'reader.dashboard.reset' | translate }}</button>
  <button mat-menu-item (click)="onFreeClick()">{{'reader.dashboard.free' | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="genres">{{'reader.dashboard.genres' | translate }}</button>
</mat-menu>

<mat-menu #genres="matMenu">
  <div *ngFor="let genre of genresList">
    <button mat-menu-item (click)="onGenreClick(genre.name);">{{genre.name}}
        <input type="hidden" [(ngModel)]="genre.name" id="genre">
    </button>
  </div>
</mat-menu>

<div class="row" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div class="col-2" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let book of booksList">
        <app-book-card [book]="book"></app-book-card>
    </div>
</div>
<div *ngIf="pagination">
    <mat-paginator [length]="pagination.totalItems"
    [pageSize]="pagination.itemsPerPage"
    (page)="pageChanged($event)"
    [showFirstLastButtons]="true"></mat-paginator>
</div>