<mat-nav-list>
    <div class="profile-card" *ngIf="userDetails">
        <label class="hoverable" for="fileInput">
            <img [src]="imageToShow ? imageToShow : 'https://www.w3schools.com/howto/img_avatar.png'"> 
            <div class="hover-text">{{'admin.sidebar-title-1' | translate }}</div>
            <div class="background"></div>
        </label>
        <br/>
        <input id="fileInput" type="file" (change)="OnSelectFile($event)">
        <div class="header">
            <div *ngIf="freeSubs">
                <button mat-raised-button matTooltip="Subscription Details" 
                matTooltipPosition="right"
                style="box-shadow: none;" (click)="moveToDetails();">
                    <img src="/assets/img/avatar-free.png" style="width: 50px;">
                </button>
            </div>
            <div *ngIf="mediumSubs">
                <button mat-raised-button matTooltip="Subscription Details" 
                matTooltipPosition="right"
                style="box-shadow: none;" (click)="moveToDetails();">
                    <img src="/assets/img/avatar-medium.png" style="width: 50px;">
                </button>
            </div>
            <div *ngIf="highSubs">
                <button mat-raised-button matTooltip="Subscription Details" 
                matTooltipPosition="right"
                style="box-shadow: none;" (click)="moveToDetails();">
                    <img src="/assets/img/avatar-high.png" style="width: 50px;">
                </button>
            </div>
            <h3 id="name_sidebar">{{'common-fields.name' | translate }}: {{userDetails.name}} {{userDetails.surname}}</h3>
            <h3>{{'common-fields.username' | translate }}: {{userDetails.userName}}</h3>
            <h3>{{'common-fields.email' | translate }}: {{userDetails.email}}</h3>
        </div>
    </div>
    <mat-divider></mat-divider>

    <h2 matSubheader>{{'admin.activity' | translate }}</h2>
    <a mat-list-item (click)="redirectToSearching();">
        <mat-icon>search</mat-icon>
        {{'reader.sidebar.search' | translate }}</a>
    <a mat-list-item (click)="redirectToCollection();"><mat-icon>library_books</mat-icon>
        {{'reader.sidebar.library' | translate }}</a>
    <a mat-list-item (click)="showMessage();"><mat-icon>cloud_upload</mat-icon>
        {{'reader.sidebar.upload' | translate }}</a>
    <a mat-list-item (click)="showMessage();"><mat-icon>share</mat-icon>
        {{'reader.sidebar.sharing' | translate }}</a>
</mat-nav-list>
