<mat-nav-list>
    <div class="profile-card" *ngIf="userDetails">
        <label class="hoverable" for="fileInput">
            <img [src]="imageToShow ? imageToShow : 'https://www.w3schools.com/howto/img_avatar.png'"> 
            <div class="hover-text">Update picture</div>
            <div class="background"></div>
        </label>
        <br/>
        <input id="fileInput" type="file" (change)="OnSelectFile($event)">
        <div class="header">
            <div *ngIf="freeSubs">
                <button mat-raised-button matTooltip="Subscription Details" 
                matTooltipPosition="right"
                style="box-shadow: none;" (click)="moveToDetails();">
                    <img src="/assets/img/avatar-free.png" style="width: 50px;">
                </button>
            </div>
            <div *ngIf="mediumSubs">
                <button mat-raised-button matTooltip="Subscription Details" 
                matTooltipPosition="right"
                style="box-shadow: none;" (click)="moveToDetails();">
                    <img src="/assets/img/avatar-medium.png" style="width: 50px;">
                </button>
            </div>
            <div *ngIf="highSubs">
                <button mat-raised-button matTooltip="Subscription Details" 
                matTooltipPosition="right"
                style="box-shadow: none;" (click)="moveToDetails();">
                    <img src="/assets/img/avatar-high.png" style="width: 50px;">
                </button>
            </div>
            <h3 id="name_sidebar">Name: {{userDetails.name}} {{userDetails.surname}}</h3>
            <h3>Username: {{userDetails.userName}}</h3>
            <h3>Email: {{userDetails.email}}</h3>
        </div>
    </div>
    <mat-divider></mat-divider>

    <h2 matSubheader>My Activity</h2>
    <a mat-list-item>
        <mat-icon>search</mat-icon>
        Search for a Book</a>
    <a mat-list-item><mat-icon>library_books</mat-icon>
        My Library</a>
    <a mat-list-item><mat-icon>cloud_upload</mat-icon>
        Upload Books</a>
    <a mat-list-item><mat-icon>share</mat-icon>
        BookSharing</a>
</mat-nav-list>
