<mat-toolbar class="bee-nav" id="header">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>
            <a class="imgLogo" routerLinkActive="active" routerLink="/admin/dashboard">
                <img src="/assets/img/LogoMakr-49eOqp.png" class="logo">
            </a>
        </span>


        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="language"> 
                        <mat-icon>g_language</mat-icon>
                    </button>
                    <mat-menu #language="matMenu">
                        <button mat-menu-item (click)="useLanguage('en')">
                            <span class="flag-icon flag-icon-gb flag-icon-squared">English</span>
                        </button>
                        <button mat-menu-item (click)="useLanguage('ukr')">
                            <span class="flag-icon flag-icon-ua flag-icon-squared">Українська</span>
                        </button>
                    </mat-menu>
                </li>
                <li></li>
                <li></li>
                <li>
                    <button mat-icon-button (click)="statisticsClick();"> 
                        <mat-icon>timeline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="profileClick();" id="my_profile">
                        <mat-icon>person</mat-icon>
                        {{'admin.my-profile' | translate }}
                    </button>
                      <button mat-menu-item (click)="logout();" id="sign_out">
                          <mat-icon>exit_to_app</mat-icon>
                          {{'admin.sign-out' | translate }}
                      </button>
                    </mat-menu>
                </li>
            </ul>

        </div>
    
    </mat-toolbar-row>
</mat-toolbar>

