<div class="spCard-dropdown">
    <div class="card-list-title" fxLayout="row" fxLayoutAlign="space-between start">
        <p>{{shoppingCartItems.length}} ITEM</p>
    </div>
        <mat-divider></mat-divider>
        <p class="woo-message" *ngIf="!shoppingCartItems.length">Please add books<p>

        <div class="new-product" fxLayout="column" *ngIf="shoppingCartItems.length">
          <div class="item" fxLayout="row" fxLayoutAlign="start start" *ngFor="let item of shoppingCartItems">
                <div class="desc">
                  <p>{{item.book.title}}</p>
                  <span>{{item.type}}</span>
                  <span> 1 X ${{item.price}}</span>
                 </div>
                 <div class="close-circle">
                    <a (click)="removeItem(item)"><i class="material-icons">
                        delete
                        </i></a>
                  </div>
          </div>
          <mat-divider></mat-divider>
          <div class="total" fxLayout="row" fxLayoutAlign="space-between center">
              <p class="text-muted">Total: </p>
              <span>{{ getTotal() | currency }}</span>
            </div>
        </div>
  </div>
  <button mat-stroked-button color="primary" class="shopping-button" *ngIf="shoppingCartItems.length" (click)="onSubmit();">PAY</button>
  