	<div class="bee-page-container">
        <app-header></app-header>
		<div class="bee-row bee-row-3">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w12">
					<div class="bee-block bee-block-1 bee-divider">
						<div class="spacer" style="height:15px;">
						</div>
					</div>
					<div class="bee-block bee-block-2 bee-divider">
						<div class="spacer" style="height:35px;">
						</div>
					</div>
					<div class="bee-block bee-block-3 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
					<div class="bee-block bee-block-4 bee-divider">
						<div class="spacer" style="height:25px;">
						</div>
					</div>
					<div class="bee-block bee-block-5 bee-image">
						<img alt="" class="bee-center bee-autowidth" src="/assets/img/DIVIDER-01.png"
							style="max-width:1076px;" />
					</div>
					<div class="bee-block bee-block-6 bee-divider">
						<div class="spacer" style="height:30px;">
						</div>
					</div>
					<div class="bee-block bee-block-7 bee-heading">
						<h2
							style="color:#62716a;direction:ltr;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;font-size:21px;font-weight:normal;letter-spacing:11px;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
							-WELCOME-
						</h2>
					</div>
					<div class="bee-block bee-block-8 bee-divider">
						<div class="spacer" style="height:15px;">
						</div>
					</div>
					<div class="bee-block bee-block-9 bee-heading">
						<h1
							style="color:#62716a;direction:ltr;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;font-size:41px;font-weight:normal;letter-spacing:5px;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
							BOOK LOVERS !
						</h1>
					</div>
					<div class="bee-block bee-block-10 bee-divider">
						<div class="spacer" style="height:15px;">
						</div>
					</div>
					<div class="bee-block bee-block-11 bee-divider">
						<div class="spacer" style="height:0px;">
						</div>
					</div>
					<div class="bee-block bee-block-12 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-4">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w3">
					<div class="bee-block bee-block-1 bee-divider">
						<div class="spacer" style="height:5px;">
						</div>
					</div>
				</div>
				<div class="bee-col bee-col-2 bee-col-w6">
					<div class="bee-block bee-block-1 bee-text">
						<div class="bee-text-content"
							style="line-height: 180%; font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #3c3c3c;">
							<p style="line-height: 32px; text-align: center; font-size: 18px;">
								<span style="font-size: 18px; color: #707385; line-height: 32px;">
									"A reader lives a thousand lives before he dies, the man who never reads lives only one." (c) George R.R. Martin.
								</span>
							</p>
							<p style="line-height: 32px; text-align: center; font-size: 18px;">
								<span style="font-size: 18px; color: #707385; line-height: 32px;">
									Book reading is a very pleasant experience, but it also depends upon what book you are reading and what your interest is. There are several forms of entertainment available in the world, such as movies, television, sports, but the pleasure of reading isn't gone yet.
								</span>
							</p>
						</div>
					</div>
				</div>
				<div class="bee-col bee-col-3 bee-col-w3">
					<div class="bee-block bee-block-1 bee-divider">
						<div class="spacer" style="height:5px;">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-5">
			<div class="bee-row-content" id="about">
				<div class="bee-col bee-col-1 bee-col-w12">
					<div class="bee-block bee-block-1 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
					<div class="bee-block bee-block-2 bee-divider">
						<div class="spacer" style="height:15px;">
						</div>
					</div>
					<div class="bee-block bee-block-3 bee-image">
						<img alt="BOOKS" class="bee-center bee-autowidth" src="/assets/img/HEADER-01.png"
							style="max-width:1440px;" />
					</div>
					<div class="bee-block bee-block-4 bee-divider">
						<div class="center" style="border-top:30px solid #F5E8DD;width:100%;">
						</div>
					</div>
					<div class="bee-block bee-block-5 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
					<div class="bee-block bee-block-6 bee-divider">
						<div class="spacer" style="height:5px;">
						</div>
					</div>
					<div class="bee-block bee-block-7 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
					<div class="bee-block bee-block-8 bee-divider">
						<div class="spacer" style="height:20px;">
						</div>
					</div>
					<div class="bee-block bee-block-9 bee-divider">
						<div class="spacer" style="height:0px;">
						</div>
					</div>
					<div class="bee-block bee-block-10 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-6">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w6">
					<div class="bee-block bee-block-1 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
					<div class="bee-block bee-block-2 bee-text">
						<div class="bee-text-content"
							style="font-size: 14px; line-height: 150%; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #62716a;">
							<p style="font-size: 34px; line-height: 51px; text-align: center; letter-spacing: 1px;">
								<span style="font-size: 34px; line-height: 51px;">
									<strong>
										NEW BOOKS
									</strong>
								</span>
							</p>
							<p style="font-size: 34px; line-height: 51px; text-align: center; letter-spacing: 1px;">
								<span style="font-size: 34px; line-height: 51px;">
									ARE WAITING FOR YOU!
								</span>
							</p>
						</div>
					</div>
					<div class="bee-block bee-block-3 bee-divider">
						<div class="spacer" style="height:20px;">
						</div>
					</div>
					<div class="bee-block bee-block-4 bee-text">
						<div class="bee-text-content"
							style="line-height: 180%; font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #3c3c3c;">
							<p style="text-align: center; line-height: 21px;">
								<span style="font-size: 18px; line-height: 32px;">
									<span style="color: #707385; line-height: 21px;">
										Between those pages is a wonderful place to be. The moment you begin reading you are in a world from away from the reality. Everything is empty and as the words flow out, your imagination begins to give colours to the emptiness. Slowly the characters come into life and the plot builds up. The more involved you are the more real the story is. The power of the writer’s pen decides the fate of the plot and the people involved in it.
									</span>
								</span>
							</p>
						</div>
					</div>
				</div>
				<div class="bee-col bee-col-2 bee-col-w6">
					<div class="bee-block bee-block-1 bee-image">
						<img alt="Open book" class="bee-center bee-autowidth" src="/assets/img/BOOK.png"
							style="max-width:700px;" />
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-7" id="contact-us">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w12">
					<div class="bee-block bee-block-1 bee-divider">
						<div class="center" style="border-top:30px solid #F5E8DD;width:100%;">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-8">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w12">
					<div class="bee-block bee-block-1 bee-divider">
						<div class="spacer" style="height:100px;">
						</div>
					</div>
					<div class="bee-block bee-block-2 bee-divider">
						<div class="spacer" style="height:80px;">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-9">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w12">
					<div class="bee-block bee-block-1 bee-divider">
						<div class="center" style="border-top:30px solid #F5E8DD;width:100%;">
						</div>
					</div>
					<div class="bee-block bee-block-2 bee-divider">
						<div class="spacer" style="height:30px;">
						</div>
					</div>
					<div class="bee-block bee-block-3 bee-text">
						<div class="bee-text-content"
							style="font-size: 14px; line-height: 150%; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #62716a;">
							<p style="font-size: 34px; line-height: 51px; text-align: center; letter-spacing: 3px;">
								<span style="font-size: 42px; line-height: 63px;">
									<strong>
										LEAVE YOUR FEEDBACK
									</strong>
								</span>
							</p>
							<p style="font-size: 34px; line-height: 51px; text-align: center; letter-spacing: 3px;">
								OR ANY IDEAS YOU WANT TO BRING UP
							</p>
						</div>
					</div>
					<div class="bee-block bee-block-4 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
					<div class="bee-block bee-block-5 bee-divider">
						<div class="spacer" style="height:5px;">
						</div>
					</div>
					<div class="bee-block bee-block-6 bee-form">
						<form accept-charset="UTF-8" action="ACTION_PLACEHOLDER" autocomplete="on"
							enctype="multipart/form-data" method="post" target="_self">
							<div class="bee-form-row">
								<div class="bee-field bee-field-id_vu4udm">
									<label for="id_vu4udm">
										Name
									</label>
									<input id="id_vu4udm" name="firstname" required="" type="text" />
								</div>
							</div>
							<div class="bee-form-row">
								<div class="bee-field bee-field-id_gyxlj1">
									<label for="id_gyxlj1">
										Email
									</label>
									<input id="id_gyxlj1" name="email" required="" type="text" />
								</div>
							</div>
							<div class="bee-form-row">
							</div>
							<div class="bee-form-row">
							</div>
							<div class="bee-form-row">
							</div>
							<div class="bee-form-row">
								<div class="bee-field bee-field-id_c3pm92">
									<label for="id_c3pm92">
										Message
									</label>
									<textarea id="id_c3pm92" name="message"></textarea>
								</div>
							</div>
							<div class="bee-form-row">
								<div class="bee-field bee-field-id_j76u77">
									<div class="bee-button-container">
										<button id="id_j76u77" name="submit" type="submit" value="SEND">
											SEND
										</button>
									</div>
								</div>
							</div>
							<div class="bee-form-row">
							</div>
							<div class="bee-form-row">
							</div>
							<div class="bee-form-row">
							</div>
						</form>
					</div>
					<div class="bee-block bee-block-7 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
					<div class="bee-block bee-block-8 bee-divider">
						<div class="spacer" style="height:40px;">
						</div>
					</div>
					<div class="bee-block bee-block-9 bee-divider">
						<div class="center" style="border-top:30px solid #F5E8DD;width:100%;">
						</div>
					</div>
					<div class="bee-block bee-block-10 bee-divider">
						<div class="spacer" style="height:20px;">
						</div>
					</div>
					<div class="bee-block bee-block-11 bee-image">
						<img alt="DIVIDER" class="bee-center bee-autowidth" src="/assets/img/DIVIDER-01.png"
							style="max-width:1076px;" />
					</div>
					<div class="bee-block bee-block-12 bee-divider">
						<div class="spacer" style="height:20px;">
						</div>
					</div>
					<div class="bee-block bee-block-13 bee-divider">
						<div class="spacer" style="height:0px;">
						</div>
					</div>
					<div class="bee-block bee-block-14 bee-heading">
						<h2
							style="color:#62716a;direction:ltr;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;font-size:20px;font-weight:normal;letter-spacing:7px;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
							THIS MONTH'S
						</h2>
					</div>
					<div class="bee-block bee-block-15 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
					<div class="bee-block bee-block-16 bee-heading">
						<h1
							style="color:#d19f81;direction:ltr;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;font-size:39px;font-weight:normal;letter-spacing:10px;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
							<strong>
								bestseller
							</strong>
						</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-10">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w4">
					<div class="bee-block bee-block-1 bee-image">
						<img alt="cover-book-mockup" class="bee-center bee-fixedwidth" src="/assets/img/book1.png"
							style="max-width:312px;" />
					</div>
					<div class="bee-block bee-block-2 bee-heading">
						<h2
							style="color:#62716a;direction:ltr;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;font-size:20px;font-weight:normal;letter-spacing:normal;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
							The Picture of Dorian Gray
						</h2>
					</div>
					<div class="bee-block bee-block-3 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
					<div class="bee-block bee-block-4 bee-heading">
						<h2
							style="color:#3c3c3c;direction:ltr;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;font-size:20px;font-weight:normal;letter-spacing:normal;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
							$7.99
						</h2>
					</div>
					<div class="bee-block bee-block-5 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
					<div class="bee-block bee-block-6 bee-button">
						<a class="bee-button-content" href="/login"
							style="font-size: 12px; line-height: 24px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; background-color: #62716a; border-bottom: 0px solid transparent; border-left: 0px solid transparent; border-radius: 6px; border-right: 0px solid transparent; border-top: 0px solid transparent; color: #fcc4a3; max-width: 100%; padding-bottom: 3px; padding-left: 30px; padding-right: 30px; padding-top: 3px; width: auto; display: inline-block;">
							<span style="font-size: 16px; line-height: 200%; word-break: break-word;">
								<strong>
									BOOK NOW
								</strong>
							</span></a>
					</div>
				</div>
				<div class="bee-col bee-col-2 bee-col-w4">
					<div class="bee-block bee-block-1 bee-image">
						<img alt="cover-book-mockup" class="bee-center bee-fixedwidth" src="/assets/img/book2.png"
							style="max-width:312px;" />
					</div>
					<div class="bee-block bee-block-2 bee-heading">
						<h2
							style="color:#62716a;direction:ltr;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;font-size:20px;font-weight:normal;letter-spacing:normal;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
							The Adventures of Sherlock Holmes
						</h2>
					</div>
					<div class="bee-block bee-block-3 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
					<div class="bee-block bee-block-4 bee-heading">
						<h2
							style="color:#3c3c3c;direction:ltr;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;font-size:20px;font-weight:normal;letter-spacing:normal;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
							$8.99
						</h2>
					</div>
					<div class="bee-block bee-block-5 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
					<div class="bee-block bee-block-6 bee-button">
						<a class="bee-button-content" href="/login"
							style="font-size: 12px; line-height: 24px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; background-color: #62716a; border-bottom: 0px solid transparent; border-left: 0px solid transparent; border-radius: 6px; border-right: 0px solid transparent; border-top: 0px solid transparent; color: #fcc4a3; max-width: 100%; padding-bottom: 3px; padding-left: 30px; padding-right: 30px; padding-top: 3px; width: auto; display: inline-block;">
							<span style="font-size: 16px; line-height: 200%; word-break: break-word;">
								<strong>
									BOOK NOW
								</strong>
							</span></a>
					</div>
				</div>
				<div class="bee-col bee-col-3 bee-col-w4">
					<div class="bee-block bee-block-1 bee-image">
						<img alt="cover-book-mockup" class="bee-center bee-fixedwidth" src="/assets/img/book3.png"
							style="max-width:312px;" />
					</div>
					<div class="bee-block bee-block-2 bee-heading">
						<h2
							style="color:#62716a;direction:ltr;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;font-size:20px;font-weight:normal;letter-spacing:normal;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
							Will
						</h2>
					</div>
					<div class="bee-block bee-block-3 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
					<div class="bee-block bee-block-4 bee-heading">
						<h2
							style="color:#3c3c3c;direction:ltr;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;font-size:20px;font-weight:normal;letter-spacing:normal;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
							$20.99
						</h2>
					</div>
					<div class="bee-block bee-block-5 bee-divider">
						<div class="spacer" style="height:10px;">
						</div>
					</div>
					<div class="bee-block bee-block-6 bee-button">
						<a class="bee-button-content" href="/login"
							style="font-size: 12px; line-height: 24px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; background-color: #62716a; border-bottom: 0px solid transparent; border-left: 0px solid transparent; border-radius: 6px; border-right: 0px solid transparent; border-top: 0px solid transparent; color: #fcc4a3; max-width: 100%; padding-bottom: 3px; padding-left: 30px; padding-right: 30px; padding-top: 3px; width: auto; display: inline-block;">
							<span style="font-size: 16px; line-height: 200%; word-break: break-word;">
								<strong>
									BOOK NOW
								</strong>
							</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-11">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w12">
					<div class="bee-block bee-block-1 bee-divider">
						<div class="spacer" style="height:30px;">
						</div>
					</div>
					<div class="bee-block bee-block-2 bee-divider">
						<div class="center" style="border-top:30px solid #F5E8DD;width:100%;">
						</div>
					</div>
					<div class="bee-block bee-block-3 bee-divider">
						<div class="spacer" style="height:30px;">
						</div>
					</div>
				</div>
			</div>
		</div>
		<app-footer></app-footer>
	</div>