<div class="bee-page-container">
    <div class="bee-row bee-row-9">
        <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
                <mat-card class="bee-block bee-block-6 bee-form" id="bee-matcard" style="box-shadow:none;">
                      <mat-card-content>
                        <div class="bee-text-content"
                        style="font-size: 14px; line-height: 150%; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #62716a;">
                        <p style="font-size: 34px; line-height: 51px; text-align: center; letter-spacing: 3px;">
                            <span style="font-size: 22px; line-height: 63px;">
                                <strong>
                                    Your Subscription has not been paid yet!
                                </strong>
                            </span>
                        </p>
                        <span style="font-size: 22px; line-height: 63px;">
                            For more details, please click the button below
                        </span>
                    </div>
                      </mat-card-content>
                      <div class="bee-form-row">
                      </div>
                      <div class="bee-form-row">
                      </div>
                      <div class="bee-form-row">
                      </div>
                      <div class="bee-form-row">
                      </div>
                      <div class="bee-form-row">
                      </div>
                      <div class="bee-form-row">
                        <div class="bee-field bee-field-id_j76u77">
                            <div class="bee-button-container">
                                <button mat-stroked-button color="primary" class="btn-block" style="cursor: pointer;" (click)="seeDetails()">SEE DETAILS</button>
                            </div>
                        </div>
                    </div>
                  </mat-card>
            </div>
        </div>
    </div>
</div>

  