<div class="bee-page-container">
    <div class="bee-row bee-row-9">
        <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
                <div class="bee-block bee-block-3 bee-text">
                    <div class="bee-text-content"
                        style="font-size: 14px; line-height: 150%; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #62716a;">
                        <p style="font-size: 34px; line-height: 51px; text-align: center; letter-spacing: 3px;">
                            <span style="font-size: 30px; line-height: 63px;">
                                <strong>
                                    {{'reader.payment.title' | translate }}
                                </strong>
                            </span>
                        </p>
                        <p style="font-size: 20px; line-height: 51px; text-align: center; letter-spacing: 3px;">
                            <a routerLinkActive="active" routerLink="/reader/delivery" target="_blank" style="color:inherit">{{'reader.payment.title-2' | translate }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-payment-card></ng-payment-card>
